<div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn mb-4 shadow2">Welcome To<span class="text-primary"> ABY Solar </span>Energy</h1>
      <p class="animated fadeIn mb-4 pb-2">ABY Solar Energy (PTV)LTD is committed to providing sustainable and eco-friendly solar energy solutions to our clients. With a focus on innovation and quality, we offer a range of products and services that harness the power of the sun to meet your energy needs. Our team is dedicated to delivering reliable, cost-effective, and efficient solar solutions that bring both environmental and financial benefits. Discover how ABY Solar Energy (PTV)LTD can power your future with clean, renewable energy.  </p>
      <a routerLink="/aboutUS" class="btn btn-primary py-3 px-5 me-3 animated fadeIn imgshadow">Learn More</a>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide w-50" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner imgshadow">
        <div class="carousel-item active bgcolor1">
          <img src="../assets/solar-img/img6.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item imgshadow">
          <img src="../assets/solar-img/img12.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item imgshadow">
          <img src="../assets/solar-img/img8.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item imgshadow">
          <img src="../assets/solar-img/img10.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>