<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bgcolor navbar-light py-0 ">
        <a routerLink="/" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="../assets/logo1234.jpeg-removebg-preview.png" alt="Icon" style="width: 60px; height: 50px;">
            </div>
            <h3 class="m-0 heading1 shadow2">ABY SOLAR ENERGY<br>(PTV)LTD</h3>
        </a>
        <button type="button" class="navbar-toggler icon1" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a routerLink="/" class="nav-item nav-link shadow2">Home</a>
                <a routerLink="aboutUS" class="nav-item nav-link shadow2">About</a>
                <div class="nav-item dropdown">
                    <a routerLink="/services" class="nav-link dropdown-toggle shadow2" data-bs-toggle="dropdown">Services</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="property-list.html" class="dropdown-item"><img class="rounded" src="../assets/solar-img/comimg.jpg" style="width: 45px; height: 45px;"><b class="text-primary"> Commercial Solar Solutions</b></a>
                        <a href="property-type.html" class="dropdown-item"><img class="rounded" src="../assets/solar-img/resiimg.webp" style="width: 45px; height: 45px;"><b class="text-primary"> Residential Solar Solutions</b></a>
                        <a href="property-agent.html" class="dropdown-item"><img class="rounded" src="../assets/solar-img/aglriimg.jpg" style="width: 45px; height: 45px;"><b class="text-primary"> Agriculture Solar Solutions</b></a>
                        <a href="property-agent.html" class="dropdown-item"><img class="rounded" src="../assets/solar-img/netimg.jpg" style="width: 45px; height: 45px;"><b class="text-primary"> Net Metering</b></a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a routerLink="projects" class="nav-link dropdown-toggle shadow2" data-bs-toggle="dropdown">Projects</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Error</a>
                    </div>
                </div>
                <a routerLink="contactUS" class="nav-item nav-link shadow2">Contact</a>
            </div>
            <a href="" class="btn btn-primary px-3 text-white d-none d-lg-flex">LOG IN</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->