/* You can add global styles to this file, and also import other style files */
.heading1{
    font-family:sans-serif;
    font-size: 13px;
    padding-right: 1rem !important;
}
.bgcolor{
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.imgshadow{
    box-shadow: 5px 5px 19px #0f3443;
}

@media (min-width: 992px) {
  /* Your media query rules go here */
}