<app-header></app-header> 
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100 imgshadow" src="../assets/solar-img/img11.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4 shadow2">Empowering Your Future with Solar Energy</h1>
                <p class="mb-4">Empower your home or business with clean, renewable energy through ABY Solar Energy (PTV) LTD's premier services. With our cutting-edge solar technology and industry expertise, we are dedicated to helping you harness the power of the sun for a sustainable future.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Our specialized team visits the site to assess the user’s need & provide a quotation.</p>
                <p><i class="fa fa-check text-primary me-3"></i>The system is installed within a few days & you start experiencing the benefit of your investment.</p>
                <p><i class="fa fa-check text-primary me-3"></i>We make sure to stay connected as our support team is available 24/7 for any kind of query.</p>
                <a class="btn btn-primary imgshadow py-3 px-5 mt-3" href="">Contact US</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<app-projects></app-projects>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4 shadow2">Our Solar Panel Systems</h1>
                <p class="mb-4">We offer top-of-the-line solar panel installation services, ensuring maximum efficiency and long-term savings for your home or business. Our team of experts will assess your property to design a customized solar solution that meets your energy needs and budget.<br>As solar technology continues to advance, it’s easier than ever to reap the many benefits of solar power.<br>As the best solar company in Pakistan, Sympl energy is committed to superior quality service! </p>               
                <a class="btn btn-primary imgshadow py-3 px-5 mt-3" href="">Learn More</a>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0 ">
                    <img class="img-fluid w-100 imgshadow" src="../assets/solar-img/img16.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="mb-3 shadow2">Services Types</h1>
            <p>Welcome to ABY SOLAR ENERGY(PTV)LTD, where we are dedicated to providing top-notch solar system services tailored to meet your energy needs. Our range of services includes..</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="mb-3">
                            <img class="img-fluid imgshadow" src="../assets/solar-img/comimg.jpg" alt="Icon">
                        </div>
                        <h6>Commercial Solar Solutions</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="mb-3">
                            <img class="img-fluid imgshadow" src="../assets/solar-img/resiimg.webp" alt="Icon">
                        </div>
                        <h6>Residential Solar Solutions</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="mb-3">
                            <img class="img-fluid imgshadow" src="../assets/solar-img/aglriimg.jpg" alt="Icon">
                        </div>
                        <h6>Agriculture Solar Solutions</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="mb-3">
                            <img class="img-fluid imgshadow" src="../assets/solar-img/netimg.jpg" alt="Icon">
                        </div>
                        <h6>Net Metering</h6>
                    </div>
                </a>
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-primary imgshadow py-3 px-5" href="" routerLink="/Services">Browse More Services</a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->
<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn " data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100 imgshadow" src="../assets/img/call-to-action.jpg" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3 shadow2">Contact Directly With CEO </h1>
                            <p class="text-primary">Feel free & share all your problems with our CEO</p>
                            <p>At ABY Solar Energy, we believe in transparency and effective communication. If you ever encounter challenges or have questions that you'd like to discuss directly with our CEO for swift resolution, feel free to utilize our client call feature. This personalized service allows you to share your concerns directly with our CEO, ensuring a quick and effective resolution to any issues you may have.We value your feedback and are committed to providing you with the best possible experience. Your satisfaction is our priority, and we are here to address any inquiries you may have. Thank you for choosing ABY Solar Energy for your sustainable energy solutions.</p>
                        </div>
                        <a href="" class="btn btn-primary imgshadow py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                        <a href="" class="btn btn-dark imgshadow py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100 imgshadow" src="../assets/solar-img/img17.webp">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4 shadow2">Solar Panel Installation and Maintenance</h1>
                <p class="mb-4">Our third primary service focuses on solar panel installation and maintenance, ensuring that our clients' systems operate at peak efficiency for years to come.</p>
                <a class="btn btn-primary imgshadow py-3 px-5 mt-3" routerLink="/ContactUs">Contact US</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3 shadow2">Our Clients Say!</h1>
            <p>Feel free to tailor these reviews based on specific details of ABY Solar Energy's work that you'd like to emphasize.</p>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-3">
                        <p>ABY Solar Energy provided us with exceptional service from start to finish. Their team was professional, efficient, and went above and beyond to ensure our solar installation was seamless. Highly recommend!"</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="../assets/solar-img/man1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">Imran Ahmed</h6>
                                <small>ABY Solar Energy (PTV)LTD</small>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-3">
                        <p>We chose ABY Solar Energy for our project, and they proved to be a reliable and efficient partner. The quality of their workmanship and attention to detail exceeded our expectations. Very satisfied with the results!"</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="../assets/solar-img/man1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">"Farida Khan"</h6>
                                <small>ABY Solar Energy (PTV)LTD</small>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-3">
                        <p>ABY Solar Energy demonstrated outstanding performance in delivering our solar solution. They were knowledgeable, responsive, and completed the project ahead of schedule. Great team to work with!"</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="../assets/solar-img/man1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">"Rizwan Ali"</h6>
                                <small>ABY Solar Energy (PTV)LTD</small>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-3">
                        <p>ABY Solar Energy's team exhibited top-notch expertise in every aspect of our solar project. Their deep knowledge and commitment to sustainability make them a standout choice for anyone considering solar solutions."</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="../assets/solar-img/man1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1"> "Sana Malik"</h6>
                                <small>ABY Solar Energy (PTV)LTD</small>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-3">
                        <p>We were impressed by ABY Solar Energy's customer-centric approach. They took the time to understand our needs, provided tailored solutions, and ensured our satisfaction throughout the entire process. A pleasure to work with!"</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="../assets/solar-img/man1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">"Ahmed Hassan"</h6>
                                <small>ABY Solar Energy (PTV)LTD</small>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-3">
                        <p>ABY Solar Energy's nationwide presence reflects their dedication to making a positive impact on a larger scale. Their commitment to advancing solar energy solutions is evident, and we are proud to be associated with such an environmentally conscious company."</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="../assets/solar-img/man1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">"Nadia Khan"</h6>
                                <small>ABY Solar Energy (PTV)LTD</small>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
  </div>
  <!-- Testimonial End -->